/* src/components/Create.css */
.create-container {
    display: flex;
    height: 100vh;
  }
  
  .create-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #333333;
  }
  
  .create-main {
    padding: 20px;
  }
  
  .create-input-container {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 15px; /* Größere Polsterung */
  }
  
  .create-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  
  .create-container input,
  .create-container select {
    width: calc(100% - 40px); /* Größere Breite */
    padding: 15px; /* Größere Polsterung */
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px; /* Abstand zwischen den Eingabefeldern */
  }

  .create-box-container {
    display: flex;
    justify-content: space-between; /* Verteilt die Boxen gleichmäßig */
    margin-bottom: 20px;
  }
  
  .create-box {
    width: calc(33.3% - 10px); /* Breite für drei Boxen nebeneinander mit Abstand */
    height: 200px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Damit der Text und der Button gestapelt werden */
  }
  
  .create-box input[type="file"] {
    display: none; /* Versteckt den Standard-File-Input */
  }
  
  .create-box label {
    padding: 10px 20px;
    background-color: #333333; /* Standardfarbe für den Button */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-box label.active {
    background-color: #1cd81c; /* Hellgrün für den aktiven Zustand */
  }
  
  .create-box label:hover {
    background-color: #555555; /* Hellere graue Farbe bei Hover */
  }
  
  