/* src/components/Dashboard.css */
.explorer-container {
    display: flex;
    height: 100vh;
  }
  
  .explorer-content {
    flex-grow: 1;
    background-color: #2b2b2b;
    color: white;
  }
  
  .explorer-main {
    padding: 20px;
  }
  