/* src/components/Header.css */
.dashboard-header {
    background-color: #111111;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Minimal schmaler */
  }
  
  .header-logo {
    max-height: 45px; /* Größer */
    width: auto;
  }
  