/* src/pages/LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
  }
  
  .login-box {
    background-color: #111111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .login-box input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-box button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    align-self: center;
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #8d8d8d;
  }
  
  .login-logo {
    margin-left: 20px;
    width: 300px;
    height: auto;
  }
  